<!-- views/store/index.ejs -->
<%- include('../partials/header') %>

<body>
  <h1>Game List</h1>
  <input type="text" id="searchInput" placeholder="Search games...">
  <div class="Game-container" id="gameContainer">
    <% Gamesdata.forEach(game => { %>
    <div class="game-info" data-title="<%= game.title.toLowerCase() %>">
      <a href="/games/<%= game.id %>">
        <p><%= game.title %></p>
        <img src="<%= game.thumbnail %>">
      </a>
    </div>
    <% }); %>
  </div>
  
  <script>
    document.getElementById('searchInput').addEventListener('input', function() {
      const filter = this.value.toLowerCase();
      const games = document.querySelectorAll('.game-info');

      games.forEach(game => {
        const title = game.getAttribute('data-title');
        if (title.includes(filter)) {
          game.style.display = '';
        } else {
          game.style.display = 'none';
        }
      });
    });
  </script>
</body>

<%- include('../partials/footer') %>
