<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Wishlist</title>
  </head>
  <body>
    <h1>My Wishlist</h1>
    <ul>
      <% wishlist.games.forEach(game => { %>
      <li>
        <h2><a href="/games/<%= game._id %>"><%= game.name %></a></h2>
        <p>Price: <%= game.price %></p>
        <button data-game-id="<%= game._id %>">Remove from Wishlist</button>
      </li>
      <% }) %>
    </ul>

    <form action="/wishlists/<%= userId %>/games" method="post">
      <label for="gameId">Game ID:</label>
      <input type="text" id="gameId" name="gameId" required />
      <button type="submit">Add to Wishlist</button>
    </form>
  </body>
</html>
