<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link
    href="https://fonts.googleapis.com/css?family=Material+Icons%7CMaterial+Icons+Outlined%7CMaterial+Icons+Two+Tone%7CMaterial+Icons+Round%7CMaterial+Icons+Sharp"
    rel="stylesheet" />
  <title>User Profile</title>
</head>
<body>
  <main>
    <header>
      <nav>
        <% if (user) { %>
          <a href="/games">
            <button class="button1">
              <i class="material-icons-outlined">sports_esports</i>
            </button>
          </a>
          <a href="/wishlists/index">
            <button class="button1">
              <i class="material-icons-outlined">shop</i>
            </button>
          </a>
          <a href="users/<%= user._id %>" class="button1">
            <i class="material-icons-outlined">person</i>
          </a>
          <a href="/logout" class="logout-button">LOG OUT</a>
        <% } else { %>
          <a href="/auth/google" class="login">LOG IN&nbsp;<img src="https://i.imgur.com/FHjYyi0.png" id="googlelogo" /></a>
        <% } %>
      </nav>
    </header>
    <h1>User Profile</h1>
    <% if (user && user.active) { %>
      <ul class="user-info">
        <li>Username: <%= user.userName %></li>
        <li>Email: <%= user.email %></li>
        <li>User Type: <%= user.userType %></li>
        <li>Active: <%= user.active %></li>
      </ul>
      <a href="/users/<%= user._id %>/edit" class="edit-profile-button">Edit Profile</a>
      <% if (user.userType === 'admin') { %>
        <h2>Admin Tools</h2>
        <a href="/games/new" class="admin-button">Add Game</a>
        <form action="/games/remove" method="POST" class="admin-form">
          <label for="gameName">Enter Game Name:</label>
          <input type="text" id="gameName" name="gameName" required />
          <button type="submit" class="admin-button">Remove Game</button>
        </form>
        <form action="/users/<%= user._id %>" method="PUT"class="admin-form">
          delete account:
          <input type="checkbox" name="remove" id="remove" />
          <button type="submit" class="admin-button">Delete</button>
        </form>
      <% } %>
    <% } else { %>
      <p>Your account has been deactivated. Please contact support for reactivation.</p>
    <% } %>
  </main>
</body>
</html>
