<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link
    href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
    rel="stylesheet" />
  <title>User Profile</title>
</head>

<body>
  <main>
    <header>
      <nav>
        <% if (user) { %>

          <a href="/games">
            <button class="button1">
              <i class="material-icons-outlined">sports_esports</i>
            </button>
          </a>
          <!-- <a href="/store/new">
            <button class="button1">
              <i class="material-icons-outlined">add</i>
            </button>
          </a> -->
          <a href="/wishlists/index">
            <button class="button1">
              <i class="material-icons-outlined">shop</i>
            </button>
          </a>
          <a href="/users/<%= user._id %>" class="user-link">
            <button class="button2">
              <i class="material-icons-outlined">person</i>
            </button>
          </a>

          <a href="/logout"><button class="button2">
              <i class="material-icons-outlined">logout</i>
            </button></a>


          <% } else { %>
            <a href="/auth/google" class="login">LOG IN&nbsp;<img src="https://i.imgur.com/FHjYyi0.png"
                id="googlelogo" /></a>
            <% } %>
      </nav>
    </header>



    <h1>User Profile</h1>

    <% if (user ||user.active) { %>
      <ul>
        <li>Username: <%= user.userName %>
        </li>
        <li>Email: <%= user.email %>
        </li>
        <li>User Type: <%= user.userType %>
        </li>
        <li>Active: <%= user.active %>
        </li>
      </ul>
      <button id="editBtn">
        <i class="material-icons-outlined">edit</i>
      </button>

      <% if (user.userType==='admin' ) { %>
        <h2>Admin Tools</h2>
        <a href="/games/new">Add Game</a>
        <form action="/games/remove" method="POST">
          <label for="gameName">Enter Game Name:</label>
          <input type="text" id="gameName" name="gameName" required />
          <button type="submit">Remove Game</button>
        </form>
        <form action="/?_method=PUT" method="POST">

          <input type="checkbox" name="remove" id="remove">
          <button type="submit">delete</button>
        </form>
        <% } %>


          <% } else { %>
            <p>User not found.</p>
            <% } %>


              <div id="editsection">
                <form action="/users/<%= user._id %>?_method=PUT" method="POST">
                  userName:
                  <input type="text" name="userName" id="userName" /><br>
                  Email:
                  <input type="text" name="email" id="email" /><br>
                  <button type="submit" id="saveBtn">edit</button>
                </form>
              </div>


              <script>
                const editsection = document.querySelector('#editsection')
                const editBtn = document.querySelector('#editBtn')
                const saveBtn = document.querySelector('#saveBtn')


                editBtn.addEventListener('click', () => {
                  editsection.style.display = 'flex'
                })

                saveBtn.addEventListener('click', () => {
                  editsection.style.display = 'none'
                })


              </script>

  </main>
</body>

</html>